.contact{
    height: 80vh;
    background-image: url('/Blogging_website/icon/backGround.jpg');
    margin-top: 12px;
    padding: 0 9px;
    overflow: hidden;
    
}
.contact-form{

}
.btn{
    padding-top: 2px;
    margin-top: 12px;
}