*{
    padding: 0;
    margin: 0;
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}
.container{
    /* display: flexbox; */
    text-align: center;
    /* margin-top: 25vh; */
    margin-bottom: 4px;
}
.title{
    text-align: center;
    font-size: larger;
}
.underline{
    border: 2px solid blue;
    width:5rem;
    margin: 18px auto;
    margin-top: 2px;
    border-radius: 2px;
}
.img-container{
    max-width: 600px;
    max-height: 70vh;
    background-color:white;
    border: 2px  outset  white;
    overflow: hidden;
    /* justify-content: center; */
    /* text-align: center; */

}
.translate{
    border-radius:50%;
    height: 27vh;
    margin: 2vh 2vw; 
    width:11rem;
    place-items: center;
    display: inline-flex;
    background-color: rgb(0, 87, 87) ;
    /* transform: translateY(-12px); */
}

img {
    /* display: inline-flex;
    border-radius:50%;
    height: 25vh;
    margin: 2vh 2vw;
    width: 33vw;
    margin-bottom: 8vh; */
    transform: translate(-14px,3px);
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
#random-btn,#prev-btn,#next-btn{
    border: 2px solid rgb(0, 87, 87);
    color: rgb(0, 87, 87);
    width:85px;
    height: 4vh;
    border-radius: 5px;
    margin-bottom: 15px;

}
#random-btn:hover{
    border: 2px solid rgb(0, 87, 87);
    color: rgb(0, 87, 87);
    width:90px;
    height: 4.5vh;
    background-color:rgb(134, 226, 179) ;
    border-radius: 5px;
    margin-bottom: 15px;

}
#prev-btn,#next-btn{
    border-color: transparent;
    background: transparent;
    margin :0 0.5rem;
    transition: all 0.3s liner;
    cursor: pointer;
}
#prev-btn:hover,#next-btn:hover{
    border-color: transparent;
    background: transparent;
    margin :0 0.5rem;
    transition: all 0.3s liner;
    cursor: pointer;
    font-weight: bold;
}
#job{
    color:rgb(0, 87, 87) ;
    text-transform: capitalize;
}